<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/navbar" ></div>
    <div class="container text-center">
        <div>
            <h1 th:if="${marca.id == null}">Nueva Marca</h1>
            <h1 th:unless="${marca.id == null}">Editar Marca</h1>
            <form th:action="@{/marcas/save}" th:object="${marca}" method="post" style="max-width:600px; margin:0 auto;">
                <input type="hidden" th:field="*{id}"  th:value="${marca.id}" />
                <div class="m-3">
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            <label for="floatingInput1">Nombre Marca</label>
                            <input th:field="*{nombre}" required type="text" class="form-control" id="floatingInput1" placeholder="Ingresa el nombre de la nueva marca">
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect2" class="form-label mt-4">Categoria</label>
                            <select th:field="*{categorias}" class="form-select" id="exampleSelect2" multiple="multiple" required>
                                <th:block th:each="categoria : ${listaCategorias}">
                                    <option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
                                </th:block>
                            </select>
                        </div>

                    </div>
                    <div class="text-center p">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>