<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/navbar" ></div>
    <div class="container text-center">
        <div>
            <h1>Lista de Marcas</h1>
        </div>
        <br>
        <table class="table table-hover table-bordered">
            <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Nombre Marca</th>
                <th scope="col">Categorias</th>
                <th scope="col" colspan="2">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light" th:each="marca : ${listaMarcas}">
                <td th:text="${marca.id}"></td>
                <td th:text="${marca.nombre}"></td>
                <td th:text="${marca.categorias}"></td>
                <td>
                    <a class="btn btn-success" th:href="@{'/marcas/edit'+'/'+ ${marca.id}}" role="button">Editar</a>
                    <a class="btn btn-danger" th:href="@{'/marcas/delete'+'/'+ ${marca.id}}" role="button">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>