<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/navbar" ></div>
    <div class="container text-center">
        <div>
            <h1 th:if="${producto.id == null}">Nuevo Producto</h1>
            <h1 th:unless="${producto.id == null}">Editar Producto</h1>
            <form th:action="@{/productos/save}" th:object="${producto}" method="post" style="max-width:600px; margin:0 auto;">
                <input type="hidden" th:field="*{id}"  th:value="${producto.id}" />
                <div class="m-3">
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            <label for="floatingInput1">Nombre Producto</label>
                            <input th:field="*{nombre}" required type="text" class="form-control" id="floatingInput1" placeholder="Ingresa el nombre del nuevo producto">
                        </div>
                        <div class="form-floating mb-3">
                            <label for="floatingInput2">Precio de Venta Producto</label>
                            <input th:field="*{precio}" required type="text" class="form-control" id="floatingInput2" placeholder="Ingresa el precio del nuevo producto">
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect2" class="form-label mt-4">Categoria</label>
                            <select th:field="*{categoria}" class="form-select" id="exampleSelect2" required>
                                <th:block th:each="categoria : ${listaCategorias}">
                                    <option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
                                </th:block>
                            </select>
                        </div>
                        <th:block th:unless="${producto.id == null}" th:each="detalle, status : ${producto.detalles}">
                            <input type="hidden" name="detallesId" th:value="${detalle.id}" />
                            <div class="form-group">
                                <label class="col-form-label col-sm-4"> Detalle N° [[${status.count}]]:</label>
                                <div class="form-floating mb-3">
                                    <input type="text" name="detallesNombre" th:value="${detalle.nombre}" class="form-control" required>
                                </div>
                               <div class="form-floating mb-3">
                                    <input type="text" name="detallesValor" th:value="${detalle.valor}" class="form-control" required>
                                </div>
                               <!-- <div id="newRow"></div> -->
                            </div>
                        </th:block>
                        <th:block th:if="${producto.id == null}">
                            <div class="form-group">
                                <label class="col-form-label col-sm-4">Detalles:</label>
                                <div class="form-floating mb-3">
                                    <label class="col-form-label col-sm-4">Nombre:</label>
                                    <input type="text" name="detallesNombre" class="form-control" required>
                                </div>
                                <div class="form-floating mb-3">
                                    <label class="col-form-label col-sm-4">Valor:</label>
                                    <input type="text" name="detallesValor"  class="form-control" required>
                                </div>
                            </div>
                            <div id="newRow"></div>
                            <button id="addRow" type="button" class="btn btn-info">Add Row</button>
                        </th:block>



                    </div>
                    <div class="text-center p">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        // add row
        $("#addRow").click(function () {
            var html = '';
            html += '<div class="form-group" id="inputFormRow">';
            html += '<div class="form-floating mb-3">';
            html += '<label class="col-form-label col-sm-4">Nombre:</label>';
            html += '<input type="text" name="detallesNombre" class="form-control" required>';
            html += '</div>';
            html += '<div class="form-floating mb-3">';
            html += '<label class="col-form-label col-sm-4">Valor:</label>';
            html += '<input type="text" name="detallesValor"  class="form-control" required>';
            html += '</div>';
            html += '</div>';
            html += '<div class="input-group-append">';
            html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';

            $('#newRow').append(html);
        });

        // remove row
        $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
        });
    </script>

</body>
</html>